/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******** Page Styling ********/

.wrapper { 
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;         /* Safari 5.1+, Chrome 10+, Firefox 29+, Opera 7+, IE 8+, Android 4.0+, iOS any */
}

body {
	font-family: "Fira Sans", sans-serif;
	color: #dd1d1d;
}

.heading {
	font-family: "Changa One", helvetica;
	color: #dd1d1d;
	text-align: center;
}
.heading h1 {
	font-size: 3em;
	margin: .5em;
}
.heading h3 {
	font-size: 1.5em;
}

.wrapper {
	max-width: 900px;
	margin: 1em auto;
	border: 1px solid #000;
}

.buttons {
	text-align: center;
	padding-bottom: 2em;
	padding-top: 2em;
	max-width: 900px;
}

label {
	display: block;
	padding: .5em;
}

#query{
	display: block;
	border: 1px solid #000;
	width: 100%;
	box-sizing: border-box;
	font-size: 1.5em;
	margin: 0;
	margin-bottom: 1em;
}

#search-button {
	width: 10em;
	height: 3em;
	background-color: #dd1d1d;
	color: #fff;
	font-family: "Fira Sans", sans-serif;
	font-size: .75em;
	border-radius: 5px;
	border: 1px solid #000;
	display: block;
	text-align: center;
	margin: 0 auto;
}

#search-container ul{
	overflow: hidden;
	margin-top: 1em;
	list-style: none;
	box-sizing: inherit;
}

#search-container li {
	margin-bottom: 2em;
	padding: 1em;
	border: 1px solid #000;
}

#search-container li p {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
	font-family: "Fira Sans", sans-serif;
}

#search-container li img {
  display: block;
  max-width: 100%;
}

@media only screen and (min-width: 500px) {
	#search-container li {
		width: 48%;
		float: left;
		clear: both;
	}
	#search-container li:nth-child(2n) {
		float: right;
		clear: none;
	}
}



